base_conhecimento
node_modules
tmp
dist
src/metodos
src/__tests__
src/classes/FieldOrganizer.ts
src/testes.ts
src/utils/ini2json.ts
src/assets/barcode.png
src/assets/DANFE_NFCE.pdf
src/assets/DANFE.pdf
src/assets/logo.jpg
src/assets/qrcode.png
src/old_schemas
tmp
package-lock.json
src/old

certificado.pfx

*:Zone.Identifier
yarn.lock
